@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  background-color: rgba(247, 250, 252, 1);
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  background-color: rgba(237, 242, 247, 1);
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
